$body_bkg_img: url(../assets/img/office-space.png);
$btn_color: rgb(255, 0, 0);
$btn_text_color: rgb(255, 255, 255);
$inp_color: rgb(231, 231, 231);
$border_color: rgb(241, 241, 241);
$border_mobile_color: rgb(255, 255, 255);
$inp_placeholder_color: rgb(169, 169, 169);