$body_bkg_img: url(../assets/img/office.png);
$btn_color: rgb(255, 0, 0);
$btn_text_color: rgb(255, 255, 255);
$form_color: rgba(231, 231, 231, 0.7);
$inp_color: rgba(231, 231, 231, 0);
$inp_mobile_color: rgba(231, 231, 231, 0.5);
$border_color: rgb(241, 241, 241);
$border_mobile_color: rgb(233, 229, 229);
$inp_placeholder_color: rgb(7, 3, 3);
$msg_text_color: rgb(255, 255, 255);
$msg_text_warning_color: rgb(255, 0, 0);